* {
  border: none;
  border-radius: 0;
  font-family: "Cascadia Code";
  font-size: 14px;
}

window#waybar {
  background-color: rgba(16, 16, 16, 1.0);
  color: #abb2bf;
  border-bottom: 1px solid #282c34;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  margin: 0px 0px;
  padding: 0px 10px;
  min-width: 10px;
  color: #abb2bf;
}

#workspaces button.focused,
#workspaces button.urgent,
#custom-separator, #mode {
  color: #4fa6ed;
}

#pulseaudio, #window, #disk, #language, #battery, #clock,
#workspaces, #memory, #mode, #backlight, #idle_inhibitor,
#temperature, #cpu {
  margin: 0px 7px;
  padding: 0px 7px;
  border-top: solid 2px #4fa6ed;
}
